# Railway: no serviço StudyFlix, referencie a variável do serviço MongoDB.
# Exemplo se o serviço se chamar MongoDB:
# MONGO_URL=${{MongoDB.MONGO_URL}}

MONGO_URL=mongodb://usuario:senha@host:27017
MONGO_DATABASE=studyflix
PORT=8080
SESSION_COOKIE_SECURE=false
DB_CONNECT_RETRIES=20
DB_CONNECT_RETRY_SECONDS=3
